# Environment variables
.env
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
.nuxt/
.output/
.nitro/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build outputs
build/
.vercel/
.netlify/
